# --- Core para IA y Embeddings ---
sentence-transformers
# Forzamos la rama 1.x para evitar el crash de compatibilidad
numpy<2.0.0
torch>=2.0.0

# --- Conectividad y Datos ---
supabase
requests
python-dotenv

# --- Scraping y Utilidades ---
beautifulsoup4

langchain-text-splitters